@import "./../../../../shared/const/sass/index.scss";

.product-detail {
    &__content {
        padding: 2em 1em;
    }

    &__title {
        color: $secundary-color;
        padding-bottom: .2em;
        padding-left: .8em;

        @media only screen and (min-width: $min-table) {
            font-size: 2em;
        }
    }
}