@import './mixins.scss';
@import './sass-variables.scss';


@mixin bds-loading {

    &-box {
        @include flex();
        @include justify-content-around();
        min-height: 150px;
        width: 100%;
        position: relative;
    }



    &--rolling {
        @include sizing-border();
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);

        &:after {
            content: '';
            position: absolute;
            width: 50px;
            height: 50px;
            border: 5px solid #808285;
            border-top-color: transparent;
            border-radius: 50%;
            -webkit-animation: rolling 0.6s linear infinite;
            animation: rolling 0.6s linear infinite;
            top: 50%;
            left: 50%;
            -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
        }
    }

    &--mini {
        &:after {
            content: '';
            width: 10px;
            height: 10px;
            border: 2px solid #808285;
            border-left-color: transparent;
        }
    }

    @keyframes rolling {
        0% {
            -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
        }

        100% {
            -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
        }
    }

    @-webkit-keyframes rolling {
        0% {
            -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
        }

        100% {
            -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
        }
    }
}