$primary_color: #c2d44e;
$secundary_color: #92a039;
$danger-color: #fa5e5b;
$light-danger-color: #faa6a5;

$transparent: transparent;
$transparent--hover: transparent;
$transparent--press: #EBEBEB;

$light-color: #fff;
$secundary-light-color: #aeb4bc;
$dark-color: #393E45;
$secundary-dark-color: #646565;

$background-base: #f7f7f7;
$disabled-color: rgba(0, 0, 0, 0.308);
$min-table: 600px;
$min-desktop: 800px;
$min-big-desktop: 1024px;