@import './shared/const/sass/mixins.scss';

.body {
    @include body-font();
    margin: 0;
    padding: 0;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    @include sizing-border();
    padding: 0;
    margin: 0;
}